<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>angularjs(金网安泰接口)</title>
  <script src="../js/angular.min.js"></script>
 </head>
 <body ng-app="M1">
  <div ng-controller="C1">
    <button type="button" ng-click="login()">登陆请求</button>
    <button type="button" ng-click="testa()">请求时间</button>
    <button type="button">登陆请求</button>
    <button type="button">登陆请求</button>
    <button type="button">登陆请求</button>
  </div>



  <script>
    var app=angular.module('M1',[]);
	app.controller('C1',function($scope,$http){
	  //数据设置
	  $scope.a1="ccc";
	  $scope.data= '<?xml version="1.0" encoding="gb2312" ?>'+
    '<GNNT>'+
    '<REQ name="logon">'+
    '<LOGONTYPE>pc</LOGONTYPE>'+
    '<PASSWORD>n13818001302</PASSWORD>'+
    '<REGISTER_WORD></REGISTER_WORD>'+
    '<USER_ID>cn03610000032</USER_ID>'+
    '<VERSIONINFO></VERSIONINFO>'+
    '</REQ>'+
    '</GNNT>';
	  console.log($scope.a1);
	  
	 $scope.data2 = '<?xml version="1.0" encoding="gb2312" ?>'+
            '<GNNT>'+
            '<REQ name="sys_time_query">'+
            '<USER_ID>cn03610000042</USER_ID>'+
            '<LAST_ID>0</LAST_ID>'+
            '<TD_CNT>-1</TD_CNT>'+
            ' <SESSION_ID>3034050180239586800</SESSION_ID>'+
            ' <CU_LG>1</CU_LG>'+
            ' <UT>0</UT>'+
            ' <LAST_TRADE_ID>0</LAST_TRADE_ID>'+
            '</REQ>'+
            '</GNNT>';
	  $scope.header=[];
	  $scope.header["Cookie"]="424324";
	  $scope.header["mycookie"]="dewjdhwe";
	  $scope.header2='["Cookie:424324","mycookie:dewjdhwe"]';
	  $scope.header3="['Cookie: JSESSIONID=14264B3D77AC1E4F8DB9A7FC8D762C7E']";
	  
	  console.log($scope.header,$scope.header2,$scope.header3);

	  //登陆
       $scope.login = function(){
        var loginXml = '<?xml version="1.0" encoding="gb2312" ?>'+
            '<GNNT>'+
            '<REQ name="logon">'+
            '<LOGONTYPE>pc</LOGONTYPE>'+
            '<PASSWORD>'+$scope.password+'</PASSWORD>'+
            '<REGISTER_WORD></REGISTER_WORD>'+
            '<USER_ID>'+$scope.account+'</USER_ID>'+
            '<VERSIONINFO></VERSIONINFO>'+
            '</REQ>'+
            '</GNNT>';
			
		$http({
	        url:'http://127.0.0.3/Appapi/Deal/deal',
		    method:'post',
		    params:{'url':'http://221.203.22.70:16895/issue_tradeweb/httpXmlServlet','data':$scope.data}
	      }).then(function(success){
	        console.log(success.data);
	      },function(error){console.log("登陆错误")});
	   }

	   //时间
		$scope.testa=function(){
              $http({
                method:'post',
                url:'http://127.0.0.3/Appapi/Deal/deal',
                timeout:3000,
                params:{url:'http://221.203.22.70:16895/issue_tradeweb/httpXmlServlet','data':$scope.data2,'setheader':$scope.header3}
				//params:{url:'http://127.0.0.1','data':$scope.data2,'setheader':$scope.header3}
              }).then(function(success){
				  console.log(success.data);
                //var doc = (new DOMParser()).parseFromString(success.data,'text/xml');
                //console.log(xmlToJson(doc))
                //$scope.loginObj = xmlToJson(doc).GNNT.REP.RESULT;
                //$scope.loginState = $scope.loginObj.RETCODE['#text'];
                //rootScope.currentAccount =$scope.account;
                //if($scope.loginState<0){
                //alertMsg("用户不存在或密码错误")
                //console.log($scope.loginObj)
                //}else{
                //rootScope.tradeExchangeList.push({"key":$scope.jycode,"retcode":$scope.loginObj.RETCODE['#text'],"module_id":$scope.loginObj.MODULE_ID['#text'],"userid":$scope.loginObj.USERID['#text']})
                //$scope.userNum = $scope.loginObj.USERID['#text'];
                //$scope.currentRet = $scope.loginObj.RETCODE['#text'];
                //console.log(rootScope.tradeExchangeList)
                //rootScope.showhold = true;
                //firm_info($scope.exchangeUrl,$scope.loginState,$scope.loginObj.USERID['#text']);
                //getMid($scope.exchangeUrl,$scope.loginState,$scope.loginObj.USERID['#text']);
                //setTimeout(query_position($scope.exchangeUrl,$scope.loginState,$scope.loginObj.USERID['#text']),1000)
                //}
              },function(error){
                console.log('请求失败，请重试');
            });
    }

	})
  </script>
 </body>
</html>
